:root {
    --accent-color: #404BBF;
    --primary-font: 'Roboto',   sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto',  sans-serif;
    color: #434455;
}

h1,
h2,
h3,
h4,
p {
        margin: 0;
}
ul {
        margin: 0;
        padding: 0;
}
.logo-web {
    color: #2E2F42;
}
.logo-web-footer {
        color: #f4f4fd;
}
.page-header {
        padding-top: 24px;
        padding-bottom: 24px;
}
.logo {
        font-family: inherit;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        margin-right: 76px;
}
.logo-footer {
        font-family: inherit;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        margin-right: 76px;
}

.menu-link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.contact-details {
        font-style: normal;
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus {
    color: var(--accent-color);
}
.hero {
        width: 1440px;
        margin: auto;
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
                ), url(../images/peopleoffice.jpg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
.page-title {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF; 
        max-width: 498px;
        margin: 0 auto;
}
.modal-btn {
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
         color: #FFFFFF; 
         cursor: pointer;
         display: block;
         margin: 0 auto;
        padding: 16px 32px;
         border: none;
        border-color: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-top: 48px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
madal-btn:focus {
background-color: var(--accent-color);
color: #FFFFFF;
}

.features-list {
        width: 264px;
        height: 112px;
}
.features-top-icon {
        width: 64px;
        height: 64px;
        
}
.features-container {
        display: flex;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: #F4F4FD;
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
}

.functional {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2E2F42;
            margin-bottom: 8px;
}
.functional-description {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.our-work {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 72px;
}
.team {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 72px;
}
.team-soc-list {
        display: flex;
        justify-content: center;
        gap: 16px;
}
.team-soc-item {
        width: 40px;
        height: 40px;
}
.team-soc-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4D5AE5;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
        background-color: #404BBF;
}
.footer-section {
        background-color: #2e2f42;
}
.specialists {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}
.customers-icon {
        padding-top: 120px;
        padding-bottom: 120px;
}

.customers {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 72px;
}
.customers-list {
        display: flex;
}
.item-icon {
        width: 168px;
        height: 88px;
}
.icon-top-list {
        width: 104px;
        height: 56px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link {
        width: 100%;
        height: 100%;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        fill: #8E8F99;
         display: flex;
        justify-content: center;
        align-items: center;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list {
        gap: 24px;
}
.icon-link:hover,
.icon-link:focus {
        border-color:  #404BBF;
}


.icon-link:hover> .icon-top-list {
        fill: #404BBF;
}
.icon-link:focus> .icon-top-list {
        fill: #404BBF;
}

.job-title {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 8px;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #E7E9FC;
        margin-top: 16px;
        max-width: 264px;
}

.social {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}
.modals-btn {
        min-width: 69px;
        height: 48px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        cursor: pointer;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        background-color: #F4F4FD;
        transition-property: background-color, color, border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modals-btn:hover,
madals-btn:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
     border-radius: 4px;
     border-color: #404BBF;
}
.functional-top-list {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.functional-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6
p {
        margin-top: 0;
        margin-bottom: 0;
}
ul,
ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}
img {
        display: block;
}
.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}
.page-header-container {
        display: flex;
}
.menu {
        display: flex;
}
.navigation {
        display: flex;
        align-items: center;
        margin-right: auto;
}
.page-header-container {
        display: flex;
}
.contakt-container {
        display: flex;
        gap: 40px;
}
.menu {
        gap: 40px;
}

.menu-link {
        position: relative;
       
}


.menu-link.current {
        position: relative;
        color: var(--accent-color);
}

.menu-link.current::after {
        position: absolute;
        left: 0;
        top: 43px;
        content: "";
        width: 100%;
        height: 4px;
        display: block;
        background-color: #404bbf;
        border-radius: 2px;
        pointer-events: none;
}
.features-top-list {
        display: flex;
        gap: 24px;
}
.section-two {
        padding-top: 120px;
        padding-bottom: 240px;
}
.our-work-container {
        display: flex;
        gap: 24px;
}
.section-three {
        padding-bottom: 120px;
}
.team-list-top {
        display: flex;
        gap: 24px;
}

.team-top-container {
        background-color: #FFFFFF;
        padding: 32px 16px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}
.footer-section {
 padding-top: 100px;
 padding-bottom: 100px;
}


.page-header {
        border-bottom: 1px solid #E7E9FC;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.list-container {
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-bottom: 72px;

}
.all-container {
        padding-top: 96px;
        padding-bottom: 120px;
}

.functional-top-list {
        padding-top: 32px;
}
.functional-text {
        margin-top: 8px;
        margin-bottom: 32px;
}


.features-list {
        width: calc((100% - 72px) /4);
}
.imeges-list {
        width: calc((100% - 48px) / 3);
}
.team-images {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: #F4F4FD;
}
.team-list {
        width: calc((100% - 72px) / 4);
}
.card-set {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -48px;
        margin-right: -24px;
}
.item {
        flex-basis: calc(100% / 3 - 24px);
        margin-bottom: 48px;
        margin-right: 24px;
}
.text-container {
        border-left: 1px solid #E7E9FC;
        border-right: 1px solid #E7E9FC;
        border-bottom: 1px solid #E7E9FC;
        padding-left: 16px;
}
.card-item {
        display: block;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-item:hover,
.card-item:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-item-img-wrapper {
        position: relative;
        overflow: hidden;
}

.overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 40px;
        padding-right: 32px;
        padding-left: 32px;
        padding-bottom: 164px;
        background-color: #4D5AE5 ;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        transform: translate(0, 100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.card-item:hover .overlay,
.card-item:focus .overlay {
        transform: translate(0,0);
}


.functional-top-list {
        margin-bottom: 8px;
}

.footer-container-top {
        display: flex;
}
.footer-container-two {
        margin-left: 120px;
}
.social {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
}
.team-icon {
width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #434455;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon:hover,
.team-icon:focus {
        background-color: #31D0AA }

        /* =================MODAL-WINDOW======================*/

.backdrop {
position: fixed;
z-index: 100;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  



.backdrop.is-hidden .modal {
transform: translate(-50%, -50%) scaleX(0);
}

.backdrop.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

}

.modal {
        padding: 72px 24px 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 408px;
        min-height: 584px;
        background: #FCFCFC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transform: translate(-50%, -50%) scaleX(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
      position: absolute;
      cursor: pointer;
      top: 24px;
      right: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #E7E9FC; 
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .btn-close,
.modal-close-btn:focus > .btn-close {
        fill: #FFFFFF;
}
.modal-close-btn:hover {
        background-color: #404BBF;

}
.modal-close-btn:focus {
        background-color: #404BBF;

}

.backdrop-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
         color: #2E2F42;
         margin-bottom: 21px;

}

.modal-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding-left: 38px;
        background-color: transparent;
        outline: transparent;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
        border-color: #4D5AE5;

}

.modal-input:focus + .input-icon {
        fill: #4D5AE5;
}

label {
        display: block;
}

.modal-label {
        display: block;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: #8E8F99;
        
}

.modal-textarea {
        display: block;
        width: 100%;
        height: 120px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        outline: transparent;
        resize: none;
        padding: 0;
        padding-left: 16px;
        padding-top: 8px;
}

.modal-textarea::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: rgba(40, 45, 139, 0.4);
}

.modal-textarea:focus {
        border-color: #4D5AE5;

}



.input-icon {
        fill: #2E2F42;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
}

.input-wrap {
        position: relative;
}

.top-modal-label {
        margin-bottom: 8px;
}

.submit-button {
        min-width: 159px;
        height: 56px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        padding: 0;
        border: none;
        border-color: #4D5AE5;
}

.checkbox-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
                color: #8E8F99;
}

.checkbox-text {
        display: flex;
        gap: 8px;
        
}

.checkbox-text::before {
        content: "";
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        display: block;
}

.modal-check:checked + .checkbox-text::before {
        background-color: #404BBF;
        border: none;
        background-image: url(../images/vector.svg);
        background-repeat: no-repeat;
        background-position: center;
}

.modal-field {
        margin-top: 16px;
        margin-bottom: 24px;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}




        /* ================= /MODAL-WINDOW======================*/

        
        /* ================= FOOTER-FORM========================*/

.footer-form {
        margin-left: auto;
        }

 .form-name {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;

        }

.email-inp {
        padding: 0px;
        background-color: transparent;
        width: 264px;
        height: 40px;
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        outline: transparent;
        padding-left: 16px;
        color: #FFFFFF;
}

.email-inp:focus {
        border-color: #725b54;
}



input[type=email]::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        

}

.form-button {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 8px 24px;
        margin-left: 24px;
        background-color: #4D5AE5;
        border-color: #4D5AE5;
        border-radius: 4px;
        gap: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
}

.form-icon {
        width: 24px;
        height: 24px;
}

.top-form {
        display: flex;
        align-items: center;
}





        /* ================= /FOOTER-FORM========================*/

